{
    "parser": "@babel/eslint-parser",
    "parserOptions" : {
        "requireConfigFile": false,
        "babelOptions": {
            "babelrc": false,
            "configFile": false,
            "presets": [
                [
                  "@babel/preset-env",
                  {
                    "loose": true,
                    "modules": false
                  }
                ]
              ]
          }
    },
    "extends": ["airbnb"],
    "rules": {
      "max-len": [1, 70, 2, { "ignoreComments": true }]
    },
    "env": {
        "browser": true,
        "node": true
      }
  }
