{
    "extends": "airbnb-base",
    "env": {
        "browser": true,
        "node": true,
        "es6": true,
        "jquery": true
    },
    "rules": {
        "arrow-body-style": ["error", "always"],
        "padded-blocks": 0,
        "one-var": 0,
        "indent": ["error", 4],
        "max-len": ["error", {"code": 120}],
        "no-mixed-operators": 0,
        "no-param-reassign": 0,
        "yoda": ["error", "always", {"onlyEquality": true}]
    }
}
