/**
 * @deprecated Since release of rebrand theme
 */


.twocol-one {
    float: left;
    width: 48%;
    margin-right: 4%;
    margin-bottom: 1%;

    &.last {
        clear: right;
        margin-right: 0;
    }
}

.clear {
    clear: both;
}
