/*
This component is not intended to be imported in the main style.scss,
but in the individual taco-element styles that require it
*/

.feature-details-modal {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1002;

    &.active {
        display: block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 1;
        background: rgba(0,0,0,.17);
        cursor: pointer;
    }

    .admin-bar & {
        @media only screen and (min-width: 600px) {
            top: 46px;
        }

        @media only screen and (min-width: 768px) {
            top: 32px;
        }
    }

    .modal-title,
    .modal-footer-close-button,
    .details {
        position: absolute;
        top: 0;
        right: 0;
        width: 90%;
        max-width: 480px;
    }

    .modal-footer-close-button,
    .top-close-button {
        font-size: 1em;
        background: $blue-dark;
        color: #fff;
        border-radius: 0;
        border: none;
        font-family: 'Lato', sans-serif;
    }

    .modal-title {
        height: 50px;
        z-index: 4;
        background: $blue-dark;
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        padding: 11px 0;
        border-left: 1px solid rgba(0,0,0,.19);
        overflow-y: hidden;
        box-sizing: border-box;

        span {
            display: block;
            margin: 0 40px 0 30px;
        }

        .top-close-button {
            background: transparent;
            position: absolute;
            top: 0;
            right: 15px;
            height: 50px;
            cursor: pointer;
        }
    }

    .modal-footer-close-button {
        top: auto;
        bottom: 0;
        height: 50px;
        z-index: 3;
        font-weight: 700;
        text-align: center;
        padding: 11px 30px;
        box-shadow: 0 0 10px rgba(0,0,0,.25);
        cursor: pointer;
    }

    // Detail sections
    .details {
        height: 100%;
        z-index: 2;
        background: #fff;
        padding-top: 45px;
        // fix for firefox 'bottom-padding inside absolutely positioned element' bug
        border-bottom: 55px solid transparent;
        border-left: 1px solid rgba(0,0,0,.19);
        box-shadow: 0 0 12px rgba(0,0,0,.2);
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        overflow-x: hidden;
        box-sizing: border-box;

        > div {
            border-bottom: 1px solid #c6cbd4;

            &:first-child {
                border-top: 1px solid #c6cbd4;
            }
        }

        .modal-section-title {
            background: #f8f8fa linear-gradient(to bottom, #f8f7fb 0%, #eeeef2 100%);
            padding: 8px 10px;
            text-transform: uppercase;
            font-weight: 700;
        }
    }

    // Builder titles (can hold expand button)
    .builder-title {
        position: relative;
        padding: 8px 10px;
        font-family: 'Lato', sans-serif;
        display: flex;
        align-items: baseline;
    }

    .builder-name {
        text-transform: uppercase;
        font-weight: 700;
    }

    .content-block {
        padding: 7px 10px 8px;

        ul {
            padding-left: 25px;
            list-style-type: disc;
        }

        li {
            margin-bottom: .2em;
        }

        p {
            color: #555;
            margin-top: 0;
            margin-bottom: 7px;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    .comparison-feature {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #969696;
        font-size: 0.875em;
        line-height: 0.9;

        ul,
        li {
            margin: 0;
            padding: 0;
        }

        li {
            display: none;
            list-style: none;

            &:before {
                display: none;
            }

            &:first-child {
                display: block;
            }
        }
    }

    .taco-expand-button {
        display: block;
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid $border-color-base;
        border-radius: 100%;
        background: $white;
        width: 25px;
        height: 25px;
        font-size: 12px;
        text-align: center;
        padding: 4px;

        &:after,
        &:before {
            content: '';
            display: block;
            background-color: $headings-color;
            position: absolute;
            right: 6px;
            top: 11px;
            width: 11px;
            height: 2px;
            transition: $transition;
        }

        &[aria-expanded=false] :after {
            transform: rotate(-90deg);
            transition: $transition;
        }
    }

    // Expanding content blocks
    .content-block.taco-expand-area {
        position: relative;
        overflow: hidden;
        z-index: 1;
        border-top: 1px solid #c6cbd4;
        padding: 8px 0;
        transition: .3s;

        &.closed {
            height: 0;
            padding: 0;
            opacity: 0;
            overflow: hidden;
        }

        .content-inner {
            color: #555;
            padding: 0 10px;
            position: relative;
            transform: translateY(-15px);
            transition: all 0.3s ease-in-out 0.15s;
            opacity: 0.5;
        }

        &.content-expand {
            .content-inner {
                transform: translateY(0);
                transition-delay: 0s;
                opacity: 1;
            }
        }
    }
}
